{% include 'breadcrumb' %}

<div class="grid" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid-item large--three-fifths">
    <div class="grid">
      <div class="grid-item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto">
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img id="productPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" {% if settings.product_image_zoom_enable %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}>
        </div>

        {% if product.images.size > 1 %}
          <ul class="product-photo-thumbs grid-uniform" id="productThumbs">
            {% unless product.id == 179302858777 or product.id == 179302957081 or product.id == 179304955929 or product.id == 4842146630 or product.id == 4842152454 or product.id == 546164931 or product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842259078 or product.id == 179303186457 %}
              <!-- when product is not 3.2 Tapered -->
              {% for image in product.images %}
              	{% if product.id == 4842146630 or product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842152454 or product.id == 4842259078 %}
              		<!-- 3.3 STRAIGHT WAL , 3.7 Tapper, 4.7 straight wal, 4.7 Taper, 3.7 Straight, 5.7XL Taper -->
              		{% if forloop.first == true %}
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                      <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
                        <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                      </a>
                    </li>
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                    </li>
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                    </li>
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                    </li>
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                    </li>
              		{% else %}
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                      <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
                        <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                      </a>
                      {% for variant in image.variants %}
                      <div>{{ variant.title }}</div>
                      {% endfor %}
                    </li>
              		{% endif %}
              	{% elsif product.id == 179302957081 or product.id == 179304955929 or product.id == 179303186457 or product.id == 210239782937 or product.id == 210240503833 %}
              		<!-- 3.5GT=179302957081, 4.5GT=179303186457, 5.7GT=179304955929, ORS45, ORS35 -->
              		{% if forloop.first == false %}
                    <li class="grid-item medium-down--one-fifth large--one-fifth">
                      <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
                        <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                      </a>
                    </li>
              		{% endif %}
              	{% elsif product.id == 546164931 %}
              		<!-- 2.4 SKINNY -->
              		  {% if forloop.index == 2 %}
                      <li class="grid-item medium-down--one-quarter large--one-quarter"></li>
                      <li class="grid-item medium-down--one-quarter large--one-quarter"></li>
                      <li class="grid-item medium-down--one-quarter large--one-quarter"></li>
          		  {% endif %}
                  <li class="grid-item medium-down--one-quarter large--one-quarter">
                    <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
                      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
              	{% else %}
                    <li class="grid-item medium-down--one-quarter large--one-quarter">
                      <a href="{{ image.src | img_url: 'large' }}" class="product-photo-thumb">
                        <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                      </a>
                    </li>
              	{% endif %}
              {% endfor %}
            {% endunless %}
          </ul>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="grid-item large--two-fifths">
    <h1 itemprop="name">{{ product.title }}</h1>
    {% if settings.product_vendor_enable %}
      <p class="product-meta" itemprop="brand">{{ product.vendor }}</p>
    {% endif %}
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      {% assign variant = product.selected_or_first_available_variant %}
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ variant.price | money_without_currency }}">
      <ul class="inline-list product-meta">
        <li>
          <span id="productPrice" class="h1">
            {% include 'price' with variant.price %}
          </span>
        </li>
        {% if product.compare_at_price_max > product.price and settings.product_show_saved_amount %}
        <li>
          <span id="comparePrice" class="sale-tag large">
            {% assign compare_price = variant.compare_at_price %}
            {% assign product_price = variant.price %}
            {% include 'price-sale' %}
          </span>
        </li>
        {% endif %}
        {% if settings.product_reviews_enable %}
          <li class="product-meta--review">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </li>
        {% endif %}
      </ul>
      <hr id="variantBreak" class="hr--clear hr--small">
      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
        <select name="id" id="productSelect" class="product-variants">
          {% for variant in product.variants %}
            {% if variant.available %}

              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-selected-name="{{ variant.title }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}
          {% endfor %}
        </select>

        {% if settings.product_quantity_enable %}
          <label for="quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
        {% endif %}

        <button type="submit" name="add" id="addToCart" class="btn">
          <span class="icon icon-cart"></span>
          <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
        {% if settings.product_quantity_message %}
          <span id="variantQuantity" class="variant-quantity"></span>
        {% endif %}
      </form>
      <hr>
    </div>
    {% unless product.id == 546164931 or product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842259078 or product.id == 179303186457 %}
    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>
    {% endunless %}
    {% if settings.social_sharing_products %}
      {% include 'social-sharing' %}
    {% endif %}
    {% if product.handle == 'cement-on-abutments' or product.handle == 'wide-diameter-cement-on-abutments' or product.handle == 'xl-diameter-cement-on-abutments' %}
    <div class="product-features">
      <h4>Features:</h4>
      <p>All cement retained abutments are custom prepable.<br>
      All abutments include titanium fixation screw.<br>
      All prosthetic components are universally compatible with the original internal hex implant.<br>
      All abutments are utilized with the internal hex restorative platform.<br>
      Analogs are machined from 17/4 surgical grade stainless steel for durability and reuse.</p>
    </div>
    {% endif %}
  </div>
</div>
<!--  Dalla Bona / O-Ring Abutment Driver -->
{% if product.id == 6275381958 %}
    <div style="margin-top: 10px; border-top: solid 1px #eeeeee;">
        <img style="width: 100%;" alt="Finger Driver from the 4mm Square Drive System DBord Dalla Bona O-Ring Driver to thread the O-Ring Abutment" src="//cdn.shopify.com/s/files/1/0866/5944/files/DBORD_with_finger_driver_image.jpg?18442863205243767642" />
    </div>
{% endif %}

{% if product.id == 179302957081 or product.id == 179304955929 or product.id == 4842146630 or product.id == 4842152454 or product.id == 546164931 or product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842259078 or product.id == 179303186457 %}
  <div class="grid-uniform variant-swatch">
  {% for variant in product.variants %}
    {% assign img = variant | img_url: '200x200' %}
    {% for image in product.images %}
      {% assign alt = image.alt | plus:0 %}
      {% if alt == variant.id %}
        {% assign img = image.src | img_url: '200x200' %}
      {% endif %}
    {% endfor %}
  <div class="grid-item large--one-fifth small--one-half">
    <a href="javascript:void(0);" class="text-center" data-variant="{{variant.id}}">
      <img src="{{ img }}" data-src="{{ variant | img_url: '200x200' }}" alt="{{ variant.title }}" />
      <div>{{ variant.option1 }} {{ variant.option2 }}</div>
    </a>
  </div>
  {% endfor %}
  </div>
{% endif %}

{% if product.id == 179302858777 %}
  <div class="grid-uniform variant-swatch">
  {% for variant in product.variants %}
    {% assign img = variant | img_url: '200x200' %}
    {% for image in product.images %}
      {% assign alt = image.alt | plus:0 %}
      {% if alt == variant.id %}
        {% assign img = image.src | img_url: '200x200' %}
      {% endif %}
    {% endfor %}
  <div class="grid-item large--one-fifth small--one-half">
    <a href="javascript:void(0);" class="text-center" data-variant="{{variant.id}}">
      <img src="{{ img }}" data-src="{{ variant | img_url: '200x200' }}" alt="{{ variant.title }}" />
      <div>{{ variant.option1 }} {{ variant.option2 }}</div>
    </a>
  </div>
  {% endfor %}
  </div>
  <div style="margin-top: 20px;">
    <img style="width: 100%;" alt="The blue magic 3.2 system" src="{{ 'ADI_BlueMagicSystem-02.jpg' | asset_url }}" />
  </div>
  <br/><br/>
  <div id="blue-magic-video-wrapper">
    <img src="{{ 'blue-magic-video-overlay.png' | asset_url }}" id="blue-magic-video-overlay" alt="The parts are intuitive.. It's easy once you see it done..." />
    <iframe id="blue-magic-video" src="https://player.vimeo.com/video/289147875?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;display: none;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br><br>
  <div style="margin-top: 20px;">
    <img style="width: 100%;" alt="The Blue Magic Cement On Straight Abutment with Fixation Screw" src="{{ 'ADI_WebsiteImage4.jpg' | asset_url }}" />
  </div>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '3.2GT.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 3.2 GT Implant 11.5MM Length" src="{{ '3.2GT_original.jpg' | asset_url }}" />
    </div>
  </a>
  <br/><br/>
{% endif %}

{% if product.id == 546164931 %}
<div class="grid">
  <div class="grid-item large--three-fifths">
    <h4 style="width:calc(100% - 8px);text-align: justify; margin: 30px 0 0 0;border: 10px solid #307496; border-bottom: 0; padding: 0 5px;">Bone Compression illustration using the 3.7 Tapered implant with the Skinny Bone Drilling System</h4>
    <a id="gif_link" href="{{ 'animation.gif' | asset_url }}" target="_blank">
      <img src="{{ 'animation_r6_00000.jpg' | asset_url }}" alt="3.7 Tapered Implant 11 mm Length">
    </a>
    <div style="display: none;">
      <div id="gif_content"><img src="{{ 'animation.gif' | asset_url }}"></div>
    </div>
  </div>
  <div class="grid-item large--two-fifths">
    <div class="product-description rte" itemprop="description">
      <br>
      {{ product.description }}
    </div>
  </div>
</div>
{% endif %}

{% if product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842259078 or product.id == 179303186457 %}
<div class="grid">
  <div class="grid-item large--three-fifths">
    &nbsp;
  </div>
  <div class="grid-item large--two-fifths">
    <div class="product-description rte" itemprop="description">
      <br>
      {{ product.description }}
    </div>
  </div>
</div>
{% endif %}

{% if product.id == 179302957081 or product.id == 179302858777 or product.id == 179304955929 or product.id == 4842146630 or product.id == 4842152454 or product.id == 546164931 or product.id == 4842179526 or product.id == 4842228870 or product.id == 4842243270 or product.id == 4842259078 or product.id == 179303186457 %}
  {% comment %}
  Place this in your product.liquid template, at the bottom.
  {% endcomment %}
  {% if product.variants.size > 1 %}
  <script>
    var variantImages = {},
      thumbnails,
      variant,
      variantImage,
      optionValue,
      productOptions = [];
      {% for variant in product.variants %}
         variant = {{ variant | json }};
         if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
           variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
           variantImages[variantImage] = variantImages[variantImage] || {};
           {% for option in product.options %}

             {% assign option_value = variant.options[forloop.index0] %}
             {% assign option_key = 'option-' | append: forloop.index0 %}

             if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
               variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
             }
             else {
               var oldValue = variantImages[variantImage][{{ option_key | json }}];
               if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
                 variantImages[variantImage][{{ option_key | json }}] = null;
               }
             }
           {% endfor %}
         }
         productOptions.push(variant);
      {% endfor %}
      console.log(variantImages);
  </script>
  {% endif %}

{% endif %}

<!-- 2.4 SKINNY, 3.0 GT, 3.5 GT, 3.3 Straight, 3.7 Straight, 3.7 Tapper -->
{% if product.id == 546164931 or product.id == 179302957081 or product.id == 4842146630 or product.id == 4842152454 or product.id == 4842179526 %}
    <div style="margin-top: 20px; border: solid 1px #eeeeee;">
        <img style="width: 100%;" alt="The color coded driver" src="//cdn.shopify.com/s/files/1/0866/5944/files/Vial_image_for_web_from_Dante_and_me_from_Tuesday_12_26_2017_composite.43_3Dweb_another.jpg?17842084663508152835" />
        <p class="hidden_text">
          The Color-Coded Driver
          At the time of surgery, it is the True Premounted Delivery System that transports the implant from the sterile package to the osteotomy in one motion.   At the prosthetic phase, it can be used as impression coping either closed tray or open (Open tray with the purchase of the Fixation Screw Long). It can be used as a temporary or permanent abutment by removing the square top.  It has internal capture thread.  This eliminated the possibility of the fixation screw from accidentally falling out when inverted.

          The Package
          Implant
          Color Coded Driver
          Fixation Screw
          Cover Screw
          0.050”/1.25mm Hex Tool

          The Fixation Screw
          It is screw driven by the 0.050”/1.25mm Hex Tool that secures the Color-Coded Driver to the implant.  Threads are 1-72-UNF-2B.

          The Implant
          The green color code confirms the 3.5 internal hex platform compatible with Zimmer, Screw Vent and others.  It is offered in RBM or HA surfaces.

          The Cover Screw
          At the time of surgery, the screw is pre-mounted to the 0.050”/1.25mm Hex Driver to permit the safe and efficient delivery and threading to complete the surgical phase.
        </p>
    </div>
{% endif %}
{% if product.id == 179302957081 %}
  <br/><br/>
  <div>
    <iframe src="https://player.vimeo.com/video/285328700?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br><br>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '3.5GT.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 3.5 GT Implant 11.5MM Length" src="{{ '3.5GT_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

<!-- 4.5 GT, 4.7 Straight, 4.7 Tapper -->
{% if product.id == 179303186457 or product.id == 4842228870 or product.id == 4842243270 %}
    <div style="margin-top: 20px; border: solid 1px #eeeeee;">
        <img style="width: 100%;" alt="The color coded driver" src="//cdn.shopify.com/s/files/1/0866/5944/files/composite.43purple.jpg?13741398045874273691" />
    </div>
{% endif %}

<!-- 5.7 GT, 5.7 XL Tapper -->
{% if product.id == 179304955929 or product.id == 4842259078 %}
    <div style="margin-top: 20px; border: solid 1px #eeeeee;">
        <img style="width: 100%;" alt="The color coded driver" src="//cdn.shopify.com/s/files/1/0866/5944/files/composite.43Gold.jpg?13741398045874273691" />
    </div>
    <br><br>
{% endif %}

{% if product.id == 179304955929 %}
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '5.7GT.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 5.7 GT Implant 11.5MM Length" src="{{ '5.7GT_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 4842146630 %}
  <!-- 3.3 Straight Wall -->
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '3.3SW.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 3.3 Straight Wall Implant 11.5MM Length" src="{{ '3.3SW_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 4842152454 %}
  <!-- 3.7 Straight Wall -->
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '3.7SW.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 3.7 Straight Wall Implant 11.5MM Length" src="{{ '3.7SW_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 179303186457 %}
  <br/><br/>
  <div>
    <iframe src="https://player.vimeo.com/video/280807388?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '4.5GT.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 4.5 GT Implant 11.5MM Length" src="{{ '4.5GT_original.jpg' | asset_url }}" />
    </div>
  </a>
  <br><br>
{% endif %}

{% if product.id == 4842179526 %}
  <!-- 3.7 Taper -->
  <br/><br/>
  <div>
    <iframe src="https://player.vimeo.com/video/286192226?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '3.7T.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 3.7 Tapered Implant 11.5MM Length" src="{{ '3.7T_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 4842228870 %}
  <!-- 4.7 Straight Wall -->
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '4.7StraightWall.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 4.7 Straight Wall Implant 11.5 MM Length" src="{{ '4.7StraightWall_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 4842243270 %}
  <!-- 4.7 Taper -->
  <br/><br/>
  <div>
    <iframe src="https://player.vimeo.com/video/280564045?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ '4.7T.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 4.7 Tapered Implant 11.5MM Length" src="{{ '4.7T_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{% if product.id == 4842259078 %}
  <!-- 5.7 XL TAPER -->
  <div>
    <iframe src="https://player.vimeo.com/video/284951128?title=adi" width="936" height="527" style="max-width: 100%; border: 2px solid #1c81b7;border-radius: 5px;" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <br/><br/>
  <a href="/collections/all/drills">
    <div id="evenZoom_id" data-zoomed="{{ 'XL5.7_Taper_Implant.jpg' | asset_url }}">
      <img style="width: 100%;" alt="The 5.7 XL Tapered Implant 11.5 MM Length" src="{{ 'XL5.7_Taper_Implant_original.jpg' | asset_url }}" />
    </div>
  </a>
{% endif %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>

  // Pre-loading product images, to avoid a lag when a thumbnail is clicked, or
  // when a variant is selected that has a variant image.
  Shopify.Image.preload({{ product.images | json }}, 'large');

  var selectCallback = function(variant, selector) {

    var $addToCart = $('#addToCart'),
        $productPrice = $('#productPrice'),
        $comparePrice = $('#comparePrice'),
        $variantQuantity = $('#variantQuantity'),
        $quantityElements = $('.quantity-selector, label + .js-qty'),
        $addToCartText = $('#addToCartText'),
        $featuredImage = $('#productPhotoImg');

    if (variant) {
      // Update variant image, if one is set
      // Call timber.switchImage function in shop.js
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $featuredImage[0];
        $(function() {
          Shopify.Image.switchImage(newImg, el, timber.switchImage);
        });
      }

      // Select a valid variant if available
      if (variant.available) {
        // We have a valid product variant, so enable the submit button
        $addToCart.removeClass('disabled').prop('disabled', false);
        $addToCartText.html({{ 'products.product.add_to_cart' | t | json }});

        // Show how many items are left, if below 10
        {% if settings.product_quantity_message %}
        if (variant.inventory_management) {
          if (variant.inventory_quantity < 10 && variant.inventory_quantity > 0) {
            $variantQuantity.html({{ 'products.product.only_left' | t: count: '1' | json }}.replace('1', variant.inventory_quantity)).addClass('is-visible');
          } else {
            $variantQuantity.removeClass('is-visible');
          }
        }
        else {
          $variantQuantity.removeClass('is-visible');
        }
        {% endif %}


        $quantityElements.show();
      } else {
        // Variant is sold out, disable the submit button
        $addToCart.addClass('disabled').prop('disabled', true);
        $addToCartText.html({{ 'products.product.sold_out' | t | json }});
        $variantQuantity.removeClass('is-visible');
        $quantityElements.hide();
      }

      // Regardless of stock, update the product price
      var customPriceFormat = timber.formatMoney( Shopify.formatMoney(variant.price, "{{ shop.money_format }}") );
      {% if settings.product_show_compare_at_price %}
        if (variant.compare_at_price > variant.price) {
          customPriceFormat += ' <small><s>' + timber.formatMoney(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")) + '</s></small>';
        }
      {% endif %}
      $productPrice.html(customPriceFormat);

      // Also update and show the product's compare price if necessary
      if ( variant.compare_at_price > variant.price ) {
        var priceSaving = timber.formatSaleTag( Shopify.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}") );
        {% comment %}
        priceSaving += ' (' + ( (variant.compare_at_price - variant.price)*100/(variant.compare_at_price) ).toFixed(0) + '%)';
        {% endcomment %}
        $comparePrice.html({{ 'products.general.save_html' | t: saved_amount: '[$]' | json }}.replace('[$]', priceSaving)).show();
      } else {
        $comparePrice.hide();
      }

    } else {
      // The variant doesn't exist, disable submit button.
      // This may be an error or notice that a specific variant is not available.
      $addToCart.addClass('disabled').prop('disabled', true);
      $addToCartText.html({{ 'products.product.unavailable' | t | json }});
      $variantQuantity.removeClass('is-visible');
      $quantityElements.hide();
    }
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% else %}
      $('#variantBreak').removeClass('hr--clear');
    {% endif %}
  });
</script>

{% if settings.product_image_zoom_enable %}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{% endif %}

{% if product.type == "implants" %}
  <!-- 2018.02.23 to add new related  -->
    {% include 'related-surgical-products-tags' %}
    {% include 'related-prosthetic-products-tags' %}
{% else %}
	{% if product.id == 210239782937 or product.id == 210240503833 %}
		{% include 'related-product-other' %}
	{% else %}
		{% include 'related-products-tags' %}
	{% endif %}
{% endif %}
